.box-card {
	display:flex;
	flex-direction: column;
	background-color: rgb(255, 245, 235);
	border: 1px solid black;
	border-radius: 5px;
	padding: 25px;
	cursor: pointer;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: transform 0.25s ease-out;
}

    

.box-card:hover {
	transform: scale(1.05);
}